@forward "reset";
@use "sass:color";

@font-face {
    font-family: "Inter";
    font-style: normal;
    font-weight: 400;
    src: url("../fonts/Inter-Regular.woff2") format("woff2");
}

[data-theme="light"],
:root {
    --panel-bg-color: #FFFFFF;
    --text-color: #000000;
    --panel-separator-color: #F0F0F4;
    --button-bg-hover-color: #52525E;
}

[data-theme="dark"] {
    --panel-bg-color: #42414D;
    --text-color: #F9F9FA;
    --panel-separator-color: #52525E;
    --button-bg-hover-color: #52525E;
}

body {
    color: var(--text-color);
    font-family: "Inter";
    font-size: 13px;
    letter-spacing: -0.125px;
}

html,
body {
    background-color: var(--panel-bg-color);
    scrollbar-width: none;
    transition: height 0.1s ease-in-out;
    width: 350px;
}

hr {
    border: 0;
    border-block-start: 1px solid var(--panel-separator-color);
    display: block;
}

.panel {
    display: flex;
    flex-direction: column;

    &__header {
        text-align: center;
        padding: 15px;
        position: relative;
        display: flex;
        align-items: center;

        .panel__button {
            width: fit-content;
            position: absolute;
            z-index: 10;
            padding-inline: 5px;

            &.back {
                left: 10px;
            }

            &.info {
                right: 10px;
            }

            svg {
                margin: 0;
            }
        }
    }

    &__title {
        text-align: center;
        width: 100%;
    }

    &__container {
        padding: 10px;

        > *:not(button) {
            padding-inline: 10px;
        }
    }

    &__footer {
        padding: 15px;
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 20px;

        button {
            text-align: center;
        }
    }

    &__button {
        width: 100%;
        display: flex;
        align-items: center;
        padding: 5px 10px;
        background: none;
        border: none;
        color: var(--text-color);
        cursor: pointer;
        border-radius: 3px;

        &:hover {
            background-color: var(--button-bg-hover-color);
        }

        svg {
            margin-right: 5px;
            width: 20px;
            height: 100%;
        }
    }
}

.hidden {
    display: none;
}

form  {
    label, legend {
        display: inline-block;
        margin-bottom: 5px;
    }

    input {
        color: var(--text-color);

        &:focus {
            outline: none;
        }

        &[type="text"] {
            width: 100%;
            border-radius: 3px;
            padding: 5px 10px;
            // background-color: darken(#42414D, 10%); // TODO: Fix this shit.
            border: 1px solid var(--text-color);
        }

        &::placeholder {
            color: var(--text-color);
        }
    }

    button[type="submit"] {
        justify-content: center;
    }
}

.form-group {
    margin-bottom: 15px;
}

.color-options {
    display: flex;
    justify-content: space-between;
    align-items: center;

    label {
        display: flex;
        align-items: center;
        cursor: pointer;

        &:hover .color-circle {
            outline: rgba(102, 102, 102, .5) solid 2px;
        }
    }

    input[type="radio"] {
        display: none;

        &:checked + .color-circle {
            outline: rgba(0, 0, 0, .5) solid 2px;
        }
    }
}

.color-circle {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    box-sizing: border-box;

    &.no-color {
        background-color: transparent;
        background-image: 
            linear-gradient(
                45deg, 
                #ccc 25%, 
                transparent 25%, 
                transparent 75%, 
                #ccc 75%, 
                #ccc
            ), 
            linear-gradient(
                45deg, 
                #ccc 25%, 
                transparent 25%, 
                transparent 75%, 
                #ccc 75%, 
                #ccc
            );
        background-size: 8px 8px;
        background-position: 0 0, 4px 4px;
    }
}

/* Styles for the custom color option */
.custom-color-label {
    position: relative;

    input[type="color"] {
        position: absolute;
        top: 0;
        left: 0;
        width: 24px;
        height: 24px;
        border: none;
        padding: 0;
        margin: 0;
        background: none;
        cursor: pointer;
        display: none; /* Initially hidden */
    }

    input[type="color"][value="custom"]:checked + .custom-color-circle + input[type="color"] {
        display: block;
    }
}

.custom-color-circle {
    position: relative;
    background-color: #000000; /* Default color */
}